// out: ./../css/main.min.css, compress: true

@import '__colors.less';
@import '__mixins.less';

// ==========Общие стили===============
*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition: all 0.2s;
}

html, body {
    overflow-x: hidden;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: @brown;
}

p {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, li {
    margin: 0;
    padding: 0;
    list-style: none;
}

section {
    margin: 0 0 100px 47px;
}

.title {
    margin-bottom: 40px;
    h1 {
        font-size: 42px;
        font-weight: 700;
    }
}

// =========================

.wrapper {
    width: 100%;
    display: flex;
    .social {
        &--item {
            margin-bottom: 10px;
            cursor: pointer;

            &:hover {
                transform: scale(1.35);
            }

            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
    .sidebar {
        width: 60px;
        background-color: @gold;
        display: flex;
        align-items: center;
        flex-direction: column;
        ul {
            margin: 63px 0;
            transform: rotate(180deg);
            display: inline-flex;
            align-items: center;
            justify-content: flex-end;
    
            writing-mode: vertical-lr;
            li {
                white-space: nowrap;
                margin-bottom: 40px;
                font-size: 14px;
                font-weight: bold;
                cursor: pointer;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .mail-btn {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60px;
            height: 60px;
            background-color: @brown;
            cursor: pointer;
            &:hover {
                svg {
                    width: 30px;
                    height: 30px;
                }
            }
            svg {
                path {
                    fill: @gold;
                }
            }
        }
    }
    .main {
        width: 100%;
        position: relative;
        .header {
            position: relative;
            padding: 23px 47px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            // background-color: #ffffff;
            &--bg {
                position: absolute;
                top: 0;
                right: 0;
                width: 35%;
                height: 100%;
                background-color: @green;
                z-index: -1;
            }
            &__logo {
                text-align: center;
                font-family: "Russo One", sans-serif;
                h1 {
                    font-size: 28px;
                    line-height: 34px;
                }
                p {
                    font-size: 16px;
                    line-height: 19px;
                }
            }
            &__menu {
                ul {
                    display: flex;
                    li {
                        font-weight: bold;
                        margin-right: 30px;
                        cursor: pointer;
                        &:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }
            &__phone {
                a {
                    font-size: 22px;
                    font-weight: bold;
                }
            }
        }
        &__content {
            position: relative;
            display: flex;
            &--left {
                padding: 95px;
                flex: 0 1 100%;
                height: 100%;
                background: url('./../images/main-bg.png') no-repeat center / cover;
                color: #fff;
                h1 {
                    font-size: 72px;
                }
                p {
                    margin-top: 26px;
                    font-weight: bold;
                    font-size: 16px;
                    line-height: 30px;
                }
                .btn {
                    margin-top: 83px;
                    display: inline-block;
                    padding: 15px 25px;
                    background-color: @gold;
                    color: @brown;
                    cursor: pointer;
                    &:active {
                        .pressed;
                    }
                    &:hover {
                        background-color: @green;
                    }
                }
            }
            .social {
                background-color: @green;
                padding: 77px 97px 0;
                display: flex;
                flex-direction: column;
                // justify-content: center;
                &--item {
                    svg {
                        .square(45px);
                    }
                }
            }
            .news {
                margin-top: 77px;
                width: 40%;
                padding: 10px 95px 0 10px;
                display: flex;
                align-items: flex-end;
                position: absolute;
                bottom: 0;
                right: 0;
                background-color: #fff;
                &__content {
                    margin-left: 12px;
                }
                &__img {
                    .square(130px);
                    img {
                        .square(100%);
                    }
                }
                &__text {
                    font-size: 22px;
                    font-weight: bold;
                }
                &__progress-bar {
                    position: relative;
                    margin-top: 24px;
                    width: 100%;
                    height: 3px;
                    background-color: @brown;
                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20%;
                        height: 100%;
                        background-color: @green;
                    }
                }
            }
        }
    }
}

.about {
    &__content {
        display: flex;
        &--left {
            flex: 0 0 44%;
            h3 {
                font-weight: bold;
            }

            p {
                margin: 33px 0 15px 0;
                font-weight: normal;
            }
        }
        &--img {
            flex: 0 0 50%;
        }
        ul {
            list-style: square;
            li {
                list-style: square;
                &::marker {
                    color: @green;
                }
                span {
                    font-weight: bold;
                }
            }
        }
    }
}

@media(max-width: 1100px) {
    .wrapper {
        .content {
            .header {
                &__menu {
                    display: none;
                }
            }
        }
    }
}